<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <form th:action="@{/search}" method="post">
        <ol>
            <li>
                <label for="search-text">検索をしましょう : </label>
                <input type="search" name="search-text" id="search-text" placeholder="入力して検索">
            </li>
            <li><input type="submit" value="検索"></li>
        </ol>
    </form>
    <th:block th:each="sampleUser : ${sampleUsers}">
        <p th:text="${sampleUser.name}"></p>
    </th:block>
</body>
</html>